<head>
	<title>Jell0</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<script src="/js/jquery.min.js"></script>

	<div class="overlay" id="overlay">
		<br><br><br><br><br><br>
		<center><h1>You win!</h1><br><br>
		<button onClick="onAfterClick()">Play again?</button></center>
	</div>

	<center>
		<div class="grid" id="grid"></div><br>
		<div class="grid" id="solution"></div>
	</center>
	<script type="text/javascript" src="/js/script.js"></script>
</body>